<%= form_for(@event, url: events_path,  html: {class: "directUpload", multipart: true}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Create Event</h2>

  <div class="field">
    <%= f.label :calendar_id, :class=>'calendar-label' %>
    <%= f.collection_select :calendar_id, Calendar.all, :id, :name%>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class=>'name-field' %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, :class=>'location-field' %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class=>'description-field' %>
  </div>
  <div class="field">
    <%= f.datetime_select :date, :minute_step => 30, :class=>'date-field' %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %> 
  </div>

<br>
  <div class="actions">
    <%= f.submit %>
    <button class= "back-button" type="button"><%= link_to 'Back', events_path %></button>
  </div>


<% end %>
