<!DOCTYPE html>

<html>
  <head>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <%= stylesheet_link_tag "event_widget.css" %>
    <%= stylesheet_link_tag "normalize.css" %>

    <title>I am ME</title>

    <script>
      $(document).ready(function(){

       $(".hidden").hide();

        $(".more").click(function(){
            $(".frame").toggleClass("active");
            $(".hidden").toggle();
            $(".title").toggle();
            $(".location").toggle();
            $(".me").toggle();
        });
     });
    </script>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1zE86HHNg61t-piIvl5BQw-hZeR5rBas">
    </script>

    <script type="text/javascript">

     alert("jQuery is")

     $(document).ready(

       $.get( "http://localhost:3000/events/5", function( event ) {

        $( ".title, .title2" )
          .text( event.name )

        $(".description")
          .text( event.description )

        $(".location2")
          .text( event.location )

        }, "json" )

     );

   </script>

</head>

    <section class='calendar'>

      <table border="1" cellpadding="3" cellspacing="0">

        <tr class='days'>
          <td>Monday</td>
          <td>Tuesday</td>
          <td>Wednesday</td>
          <td>Thursday</td>
          <td>Friday</td>
          <td>Saturday</td>
          <td>Sunday</td>
        </tr>
        <tr>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
        </tr>
        <tr>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td>
            <section class='frame'>

              <div class="container">
                <a href='#'><%= image_tag("more_info.png", :class => 'more') %></a>
                <a href='#'><%= image_tag("play.png", :class => 'play') %></a>
                <h1 class='title'>ffdsahjkgf</h1>
                <h2 class='location'>Jazz Cafe</h2>
                <a href='#'><%= image_tag("ME.gif", :class => 'me') %></a>
              </div>

              <div class ='hidden'>
                <div class="top">
                  <h1 class="title2">Rebecca Ferguson</h1>
                  <h2 class="description">Taylor is playing some sick tuness, and it is going to be a sick part with loads of fun people and beers and stuff<h2>
                  <HR>
                </div>
                <div class="bottom">
                  <a href='#'><%= image_tag("ME.gif", :class => 'me2') %></a>
                  <h2><a href='#'><%= image_tag("map.svg", :class => 'map') %></a><p class="location2"></p></h2>
                  <h2><a href='#'><%= image_tag("price_tag.svg", :class => 'price') %></a>£800</h2>
                  <h2><a href='#'><%= image_tag("share.svg", :class => 'share') %></a>Share</h2>
                  <h2><a href='#'><%= image_tag("web_link.svg", :class => 'web_link') %></a>Web Link</h2>
                </div>
              </div>

            </section>

          </td>
          <td><div></div></td>
          <td><div></div></td>
        </tr>
        <tr>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
        </tr>
        <tr>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
        </tr>
        <tr>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
        </tr>
        <tr>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
        </tr>
        <tr>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
        </tr>
        <tr>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
        </tr>

      </table>


    </section>



  </body>
</html>
