<div id="clock">
  <div class="dynamic-time">
    <h3><span class="time">00:00</span></h3>
  </div>
  <!-- <div class="icon arrow"></div> -->
</div>

<section id="days-and-calendar">

<table>
<tr class='days'>
  <td>Monday</td>
  <td>Tuesday</td>
  <td>Wednesday</td>
  <td>Thursday</td>
  <td>Friday</td>
  <td>Saturday</td>
  <td>Sunday</td>
</tr>
</table>

<section id="calendar">
  <% @day = @calendar.find_monday%>


  <% while @day <= @sunday %>
    <% @hour = Time.parse("1:00 am", @time)%>
    <% @events = Event.all.select {|event| event.date.strftime('%Y-%m-%d') == @day.strftime('%Y-%m-%d') } %>


    <section class="day" id= <%="#{@day.strftime('%Y-%m-%d')}"%>>
      <% while @hour <= @number_of_hours %>
      
        <% @event = @events.select {|event| event.date.strftime("%H:%M") == @hour.strftime('%H:%M') }.sample %>


        <section class="widget-container">
          <% if @event %>
            <div class="widget-small" id= <%="#{@hour.strftime('%H:%M')}"%> style="background-image:url(<%= @event.image.url(:medium) %>);">
              <div id='map-canvas'></div>
              <a><%= image_tag("more_info.svg", :class => 'more') %></a>
              <a><%= image_tag("play_button.svg", :class => 'play') %></a>

              <div id="name-and-location">
                <h1 class='title'>   <%= @event.name %></h1>
                <h2 class='location'><%= @event.location %></h2>
              </div>

              <div class="description"><p><%= @event.description %></p></div>

              <section id='bottom-section'>
                <p class='large-icons'><%= image_tag("map.svg", :id => 'map') %>           </p>
  <!--               <p class='large-icons'><%= image_tag("price_tag.svg", :id => 'price') %>   </p>
                <p class='large-icons'><%= image_tag("share.svg", :id => 'share') %>       </p> -->

                <a href='#'><%= image_tag("ME.jpg", :class => 'me') %></a>
              </section>
            </div>
          <% end %>
        </section>


        <% @hour = @hour + 3600%>
      <% end%>
    </section>
    <% @day = @day.next_day %>
  <%end %>
</section>

<script>
  var clock_div = $('#clock').offset().top, $window = $(window);

  $(function(){
    if($(window).width() > 480){
      $(this).scrollTop(0);
      $(document).scroll(function(){
        if($(this).scrollTop() >= (100 - clock_div) ){
            time = '01:00';
        }
        if($(this).scrollTop() >=  (200 - clock_div) ){
            time = '02:00';
        }
        if($(this).scrollTop() >=  (367 - clock_div) ){
            time = '03:00';
        }
        if($(this).scrollTop() >=  (534 - clock_div) ){
            time = '04:00';
        }
        if($(this).scrollTop() >=  (701 - clock_div) ){
            time = '05:00';
        }
        if($(this).scrollTop() >=  (868 - clock_div) ){
            time = '06:00';
        }
        if($(this).scrollTop() >=  (1035 - clock_div) ){
            time = '07:00';
        }
        if($(this).scrollTop() >=  (1202 - clock_div) ){
            time = '08:00';
        }
        if($(this).scrollTop() >=  (1369 - clock_div) ){
            time = '09:00';
        }
        if($(this).scrollTop() >=  (1536 - clock_div) ){
            time = '10:00';
        }
        if($(this).scrollTop() >=  (1703 - clock_div) ){
            time = '11:00';
        }
        if($(this).scrollTop() >=  (1870 - clock_div) ){
            time = '12:00';
        }
        if($(this).scrollTop() >=  (2037 - clock_div) ){
            time = '13:00';
        }
        if($(this).scrollTop() >=  (2204 - clock_div) ){
            time = '14:00';
        }
        if($(this).scrollTop() >=  (2371 - clock_div) ){
            time = '15:00';
        }
        if($(this).scrollTop() >=  (2538 - clock_div) ){
            time = '16:00';
        }
        if($(this).scrollTop() >=  (2705 - clock_div) ){
            time = '17:00';
        }
        if($(this).scrollTop() >=  (2872 - clock_div) ){
            time = '18:00';
        }
        if($(this).scrollTop() >=  (3039 - clock_div) ){
            time = '19:00';
        }
        if($(this).scrollTop() >=  (3206 - clock_div) ){
            time = '20:00';
        }
        if($(this).scrollTop() >=  (3373 - clock_div) ){
            time = '21:00';
        }
        if($(this).scrollTop() >=  (3540 - clock_div) ){
            time = '22:00';
        }
        if($(this).scrollTop() >=  (3707 - clock_div) ){
            time = '23:00';
        }
        if($(this).scrollTop() >=  (3874 - clock_div) ){
            time = '00:00';
        }
        $('#clock h3 span').text( time );
      });
    };
  });
</script>
