<section id="days-and-calendar">

<table>
<tr class='days'>
  <td>Monday</td>
  <td>Tuesday</td>
  <td>Wednesday</td>
  <td>Thursday</td>
  <td>Friday</td>
  <td>Saturday</td>
  <td>Sunday</td>
</tr>
</table>

<section id="calendar">
  <% @day = @calendar.find_monday%>


  <% while @day <= @sunday %>
    <% @hour = Time.parse("1:00 am", @time)%>
    <% @events = Event.all.select {|event| event.date.strftime('%Y-%m-%d') == @day.strftime('%Y-%m-%d') } %>


    <section class="day" id= <%="#{@day.strftime('%Y-%m-%d')}"%>>
      <% while @hour <= @number_of_hours %>

        <% @event = @events.select {|event| event.date.strftime("%H:%M") == @hour.strftime('%H:%M') }.sample %>
        
        <section class="widget-container">
          <div class="widget-small" id= <%="#{@hour.strftime('%H:%M')}"%> style="background-image:url(<%= @event.image.url(:medium) if @event %>);">
            <a><%= image_tag("more_info.svg", :class => 'more') if @event %></a>
            <a><%= image_tag("play_button.svg", :class => 'play') if @event %></a>
            
            <div id="name-and-location">
              <h1 class='title'>   <%= @event.name if @event %></h1>
              <h2 class='location'><%= @event.location if @event %></h2>
            </div>

            <div class="description"><p><%= @event.description if @event %></p></div>
            
            <section id='bottom-section'>
              <p class='large-icons'><%= image_tag("map.svg", :id => 'map') %>           </p>
              <p class='large-icons'><%= image_tag("price_tag.svg", :id => 'price') %>100</p>
              <p class='large-icons'><%= image_tag("share.svg", :id => 'share') %>100    </p>
              
              <a href='#'><%= image_tag("ME.jpg", :class => 'me') %></a>
            </section>
          </div>
        </section>
        
        <% @hour = @hour + 3600%>
      <% end%>

    </section>
    <% @day = @day.next_day %>
  <%end %>
</section>
</section>
