<div id="clock">
  <div class="dynamic-time">
    <h3><span class="time">00:00</span></h3>
  </div>
</div>

<section class="left-arrow">
  <%= link_to (image_tag("arrow_previous.png")), user_calendar_path(current_user, @calendar.id, wkid: params[:wkid].to_i - 1 ), id: 'arrow-previous' %>
</section>
<section class="right-arrow">
  <%= link_to (image_tag("arrow_next.png")), user_calendar_path(current_user, @calendar.id, wkid: params[:wkid].to_i + 1 ), id: 'arrow-next' %>
</section>

<section id="days-and-calendar">

<table>
<tr class='days'>
  <td>Monday</td>
  <td>Tuesday</td>
  <td>Wednesday</td>
  <td>Thursday</td>
  <td>Friday</td>
  <td>Saturday</td>
  <td>Sunday</td>
</tr>
</table>

<section id="calendar">

  <% while @week.day <= @week.sunday %>
    <%@week.reset_hour%>
    <% todays_events = events_today(@events, @week.day) if @events.present? %>

    <section class="day" id= <%="#{@week.day.strftime('%Y-%m-%d')}"%>>
      <% while @week.hour <= @week.hours_per_day %>


        <section class="widget-container">
         <% event_now = events_this_hour(todays_events, @week.hour) if todays_events.present? %>

          <%- if event_now %>

            <div class="widget-small" id= <%="#{@week.hour}"%> style="background-image:url(<%= event_now.image.url(:medium) %>);">
              <div id='map-canvas'></div>
              <a><%= image_tag("more_info.png", :class => 'more') %></a>
              <a><%= image_tag("play_button.png", :class => 'play') %></a>


              <div id="name-and-location">
                <h1 class='title'>   <%= event_now.name %></h1>
                <h2 class='location'><%= event_now.location %></h2>
              </div>


              <section id='bottom-section'>
                <div class="description"><p><%= event_now.description %></p></div>
                <p class='large-icons'><%= image_tag("map.svg", :id => 'map', :class => 'map') %></p>
                <p class='large-icons'><%= image_tag("price_tag.svg", :id => 'price') %>         </p>
                <p class='large-icons'><%= image_tag("share.svg", :id => 'share') %>             </p>
                <%= link_to image_tag("ME.jpg", :class => 'me'), calendars_mebutton_path(:event_id => event_now.id), :method => :post  %>
                <p class='large-icons'><%= link_to image_tag("edit.png", :id => 'edit'), '/users/' + current_user.id.to_s + '/events/' + event_now.id.to_s + '/edit', id: 'edit-event' %></p>
              </section>
            </div>
          <% end %>

        </section>
        <% @week.hour += 1 %>
      <% end%>
    </section>
    <% @week.day = @week.day.next_day %>
  <%end %>
</section>

<section id="background-create-event">
  <section id="create-event-form">

    <%= form_for(@event, url: events_path,  html: {class: "directUpload", multipart: true}) do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <h2>Create Event</h2>

      <div class="field">
        <%= f.label :calendar_id, :class=>'calendar-label' %>
        <%= f.collection_select :calendar_id, Calendar.all, :id, :name%>
      </div>
      <div class="field">
        <%= f.text_field :name, :class=>'name-field', :placeholder => 'Event Name' %>
      </div>
      <div class="field">
        <%= f.text_field :location, :class=>'location-field', :placeholder => 'Location' %>
      </div>
      <div class="field">
        <%= f.text_area :description, :class=>'description-field', :placeholder => 'Description' %>
      </div>
      <div class="field">
        <%= f.datetime_select :date, :minute_step => 30, :class=>'date-field' %>
      </div>
      <div class="field">
        <%= f.file_field :image %>
      </div>
      <div class="field">
        <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
      </div>

    <br>
      <div class="actions">
        <button class= "back-button" type="button"><%= link_to 'Back', user_calendars_path %></button>
        <%= f.submit 'Submit', id: 'edit_event_submit' %>
      </div>


    <% end %>

  </section>
</section>
