<section id='login-box'>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= image_tag("iamME.png", :class => 'iamMElogin') %>

    <div class="field">
      <%= f.email_field :email, autocomplete: "off", autofocus: true, :placeholder => 'Email address' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", :placeholder => 'password' %>
    </div>

    <div class="actions">
      <%= f.submit "Log in", :class=>'submit-button' %>
    </div>

  <div class='login-links'>
    <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <p class='sign-up-link'><%= link_to('Register', new_user_registration_path)  %> </p>
    <p class='forgot-link'><a href="/users/password/new">Forgot your password?</a></p>
  </div>

  <% end %>

  </section>
