<!DOCTYPE html>
<html>
<head>
  <title>IamME</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1zE86HHNg61t-piIvl5BQw-hZeR5rBas">
  </script>
</head>
<body>

  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->

<nav>
  <section class='left-buttons'>
    <ul>
      <li><a><%= image_tag("settings.svg", :class => 'settings') %>
        <ul class='plus-dropdown'>
          <li><a href='#'>Profile</a></li>
          <li><a href='#'>hfdsafh</a></li>
          <li><a href='#'>hfdsafh</a></li>
        </ul>
      </li>
      <li><%= link_to image_tag("log_out.svg", :class => 'log-out'), destroy_user_session_path, :method => :delete %></li>
      <li><a><%= image_tag("search.svg", :class => 'search') %><li>
      <%= form_tag(events_path, :method => 'get', id: 'search-form') do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search events' %>
      <%= submit_tag 'Search', :name => nil %>
<% end %>
    </ul>
  </section>

  <section class='center'><%= image_tag("ME.jpg", :class => 'logo') %>
  </section>

  <section class='right-buttons'>
    <ul>
      <li><a><%= image_tag("create.svg", :class => 'plus') %>
        <ul class='plus-dropdown'>
          <li><%= link_to "Create event", '/users/' + current_user.id.to_s + '/events/new' %></li>
          <li><a>Add Event</a></li>
        </ul>
      </li>
      <li><a href='#'><%= image_tag("MEmates.svg", :class => 'friends') %>
      <li><a href='#'><%= image_tag("inspireME.svg", :class => 'bunny') %>
      <li><%= link_to image_tag("map.svg", :class => 'map'), '/pages/map' %></li>
      <li><a href='#'><%= image_tag("MEcals.svg", :class => 'cal') %>
        <ul class='cal-dropdown'>
          <li><a href='#'>ME</a></li>
          <li><a href='#'>Sport</a></li>
          <li><a href='#'>Music</a></li>
        </ul>
      </li>
    </ul>

  </section>
</nav>


<%= yield %>

</body>

</html>
