<!DOCTYPE html>
<html>
<head>
  <title>IamME</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<section class='header'>
  <section class='left-buttons'>
    <ul>
      <li><a href='#'><img class='settings' src='../public/images/settings.svg'></a>
        <ul class='plus-dropdown'>
          <li><a href='#'>Profile</a></li>
          <li><a href='#'>hfdsafh</a></li>
          <li><a href='#'>hfdsafh</a></li>
        </ul>
      </li>
      <li><a href='#'><img class='log-out' src='../public/images/Log_out.svg'></a></li>
      <li><a href='#'><img class='search' src='../public/images/search.svg'></a><li>
      <input class='search-field' type='text' name='search-field'>
    </ul>
  </section>

  <section class='center'><img class='logo' src='../public/images/ME.gif'></section>

  <section class='right-buttons'>
    <ul>
      <li><a href='#'><img class='plus' src='../public/images/Create.svg'></a>
        <ul class='plus-dropdown'>
          <li><a href='#'>Create event</a></li>
          <li><a href='#'>Add Event</a></li>
        </ul>
      </li>
      <li><a href='#'><img class='friends' src='../public/images/MEmates.svg'></a></li>
      <li><a href='#'><img class='bunny' src='../public/images/InspireME.svg'></a></li>
      <li><a href='#'><img class='cal' src='../public/images/MEcals.svg'></a>
        <ul class='cal-dropdown'>
          <li><a href='#'>ME</a></li>
          <li><a href='#'>Sport</a></li>
          <li><a href='#'>Music</a></li>
        </ul>
      </li>
    </ul>

  </section>
</section>
  

<%= yield %>

</body>
</html>
