<!DOCTYPE html>
<html>
<head>
  <title>IamME</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1zE86HHNg61t-piIvl5BQw-hZeR5rBas">
  </script>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<section class='header'>
  <section class='left-buttons'>
    <ul>
      <li><a href='#'><%= image_tag("settings.svg", :class => 'settings') %>
        <ul class='plus-dropdown'>
          <li><a href='#'>Profile</a></li>
          <li><a href='#'>hfdsafh</a></li>
          <li><a href='#'>hfdsafh</a></li>
        </ul>
      </li>
      <li><a><%= image_tag("log_out.svg", :class => 'log-out') %></li>
      <li><a><%= image_tag("search.svg", :class => 'search') %><li>
      <input class='search-field' type='text' name='search-field'>
    </ul>
  </section>

  <section class='center'><%= image_tag("ME.gif", :class => 'logo') %>
  </section>

  <section class='right-buttons'>
    <ul>
      <li><a href='#'><%= image_tag("create.svg", :class => 'plus') %>
        <ul class='plus-dropdown'>
          <li><a href='#'>Create event</a></li>
          <li><a href='#'>Add Event</a></li>
        </ul>
      </li>
      <li><a href='#'><%= image_tag("MEmates.svg", :class => 'friends') %>
      <li><a href='#'><%= image_tag("inspireME.svg", :class => 'bunny') %>
      <li><a href='#'><%= image_tag("MEcals.svg", :class => 'cal') %>
        <ul class='cal-dropdown'>
          <li><a href='#'>ME</a></li>
          <li><a href='#'>Sport</a></li>
          <li><a href='#'>Music</a></li>
        </ul>
      </li>
    </ul>

  </section>
</section>
  

<%= yield %>

</body>

</html>
